# SERVER CONFIGURATION
NODE_ENV=development
PORT=8080
WEB_URL=http://localhost:3000

# DATABASE CONFIGURATION
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# AUTHENTICATION - GOOGLE
GOOGLE_CALLBACK_URL=http://localhost:8080/api/v1/auth/google/callback
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# AUTHENTICATION - GITHUB
GITHUB_CALLBACK_URL=http://localhost:8080/api/v1/auth/github/callback
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

# EMAIL SERVICE
RESEND_API_KEY=re_your_api_key

# MEDIA STORAGE (AWS S3 / CLOUDFLARE R2)
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_ENDPOINT=your-endpoint-url
AWS_REGION=auto
AWS_S3_BUCKET_NAME=your-bucket-name
AWS_SECRET_ACCESS_KEY=your-secret-access-key
